//Déclaration des couleurs.
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;

$texte: #000;
$texte-inverse: #fff;

$couleur-bg: #f6f6f6;

//Déclaration des temps

$loader-duree: 3000ms;